.photo-details-modal {
  background-color: white;
  position: fixed; 
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto; 
}

.photo-details-modal--close-button {
  background-color: white;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 16px;
  margin-top: 16px;
}

.photo-details-modal--images {
  margin-left: 36px;
  margin-top: 10px;
}

.photo-details-modal--mainimage {
  display: flex;
  justify-content: center;
}

.photo-details-modal--image {
  max-height: 1000px;
  max-width: auto;
  border-radius: 8px;
  margin: 20px;
}

.photo-details-modal--top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
  margin-top: 8px;
  align-items: center;
}

.photo-details-modal--photographer-details {
  display: flex;
  font-size: 16px;
}

.photo-details-modal--header {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 15px;  //Not working for some reason
  width: 90%;
}