.top-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  height: 72px;
}

.top-nav-bar--logo {
  text-decoration: overline;
  font-weight: 500;
  font-size: 24px;
  color: #111;
  text-underline-position: auto;
  margin-left: 24px;
}

.top-nav-bar--logo:hover {
  cursor: pointer;
  text-decoration: underline;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.top-nav-bar--links {
  display:flex;
  flex-direction: row;
}